{% extends "reclamation/base_front_reclamation.html.twig" %}

{% block textbanner %}
    <a href="{{ path('reclamation_index') }}">back to list</a>
    <h1>Edit Reclamation</h1>

    {{ include('reclamation/_form.html.twig', {'button_label': 'Update'}) }}





{% endblock %}

{% block all %}



{% endblock %}



{% block ads %} {% endblock %}
