{# ./templates/default/index.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>My Application</title>
</head>
<body>
<ul>
    {% for appointment in appointments %}
        <li>
            {{ appointment.type }}
        </li>
    {% endfor %}
</ul>

<div class="navigation">
    {{ knp_pagination_render(appointments) }}
</div>
</body>
</html>